{% extends 'base.html.twig' %}


{% block body %}
	<div class="Title">
		<h2>{{title}}</h2>
	</div>
	<section class="new-post">
		{% for post in post %}
			<article class="post-page">
				<div class="content">
					<img src="{{ post.image }}" alt="">
					<h2 class="title">{{ post.title }}</h2>

					{{ post.content| raw }}
					<div class="cont-btn">
						<a href="#" class="btn">{{btn}}</a>
					</div>
				</div>
			</div>
		</article>
	{% endfor %}
</section>{% endblock %}
