{% extends 'base.html.twig' %}


{% block body %}
	<div class="Title">
		<h2>{{title1}}</h2>
	</div>
	<section class="new-post">
		{% for post in post %}
			<article class="post-page">
				<div class="content">
					<img src="{{ post.image }}" . alt="">
					<h2 class="title">{{ post.title }}</h2>
					{{ post.content| raw}}
					<div class="cont-btn">
						<a href={{path('Show', {id: post.id} ) }} class="btn">{{btnPost}}</a>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
	<div class="Title">
		<h2>{{title2}}</h2>
	</div>
	<div class="content-about">
		<div class="about-img">
			<img src="{{ asset('upload/aboutCocktail.jpg') }}" alt="">
		</div>
		<div class="about-content">
			<h2>{{aboutTitle}}</h2>
			<p>{{aboutContent}}</p>

		</div>
	</div>
	<section class='newsletter'>
		<section class='box1-newsletter'>
			<div class="news-text">
				<h2>{{newsTitle}}</h2>
				<div class="news-btn">
					<input placeholder='Veuillez entrez votre email'>
					<button>{{newsBtn}}</button>
				</div>
			</div>
		</section>
		<section class='box2-newsletter'>
			<img src="{{ asset('upload/testi-removebg-preview.png') }}" alt="">
		</section>
	</section>


	<div class="Title">
		<h2>{{title3}}</h2>
	</div>
	<section class="new-post">
		{% for post in post %}
			<article class="post-page">
				<div class="content">
					<img src="{{ post.image }}" alt="">
					<h2 class="title">{{ post.title }}</h2>

					{{ post.content| raw }}
					<div class="cont-btn">
						<a href="#" class="btn">{{btnPost}}</a>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
	<div class="Title">
		<h2>
			<i class="fas fa-cocktail"></i>
			{{title4}}</h2>
	</div>
	<section class="category-nav">
		<ul>
			{# <img src="{{ asset('upload/Logo2.png') }}" alt="" class="logo-nav"/> #}

			<li>
				<a href={{ path('Aperitif')}}>
					<i class="fas fa-glass-cheers"></i>
					<span>
						{{catNav1}}
					</span>
				</a>
			</li>
		</li>
		<li>
			<a href={{ path('Digestif')}}>
				<i class="fas fa-glass-whiskey"></i>
				<span>
					{{catNav2}}
				</span>
			</a>
		</li>
		<li>
			<a href={{ path('Stimulant')}}>
				<i class="fas fa-glass-martini-alt"></i>
				<span>{{catNav3}}</span>
			</a>
		</li>
		<li>
			<a href={{ path('Rafraichissant')}}>
				<i class="fas fa-glass-whiskey"></i>
				<span>{{catNav4}}</span>
			</a>
		</li>
		<li>
			<a href={{ path('CocktailHiver')}}>
				<i class="fas fa-beer"></i>
				<span>{{catNav5}}</span>
			</a>
		</li>
		<li>
			<a href={{ path('CocktailSansAlcool')}}>
				<i class="fas fa-glass-whiskey"></i>
				<span>{{catNav6}}</span>
			</a>
		</li>
		<li>
			<a href={{ path('Contact')}}>
				<i class="fas fa-glass-whiskey"></i>
				<span>{{contact}}</span>
			</a>
		</li>
	</ul>
</section>
<section class="partage">
	<div class="box1-partage">
		<h2>{{partageTitle}}</h2>
		<div class="partage-content">
			<img src="{{ asset('upload/HurricaneDrink.png') }}" alt="">
			<textarea placeholder="Entrez votre recette"></textarea>
		</div>
	</div>
	<div class="circle">
		<div class="box2-partage"></div>
		<div class="box3-partage">
			<button class='btn'>{{newsBtn}}</button>
		</div>
	</div>
</section>{% endblock %}
